@model Garage2._0G6.Models.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Lexicon Garage</h1>
</div>
<br />

<div class="text-center">
    <font class="m-3"><span class="font-weight-bold">Current free spaces:</span> @Model.FreeSpaces</font>
</div>
<br />

@if (TempData["Success"] != null)
{
    <div class="index-options text-center text-success" id="threeSeconds">
        <H1>@TempData["Success"].ToString()</H1>
    </div>
}
@*<div class="index-options text-center" id="threeSeconds">
    <H1>Here I am</H1>
</div>*@




@if (TempData["Error"] != null)
{
    <div class="index-options text-center text-success" id="threeSeconds">
        <p>@TempData["Error"].ToString()</p>
    </div>
}
@*<div class="index-options text-center">
        <h5 class="garage-info mb-3">Do you want to park or collect a vehicle?</h5>
        <button class="btn btn-primary btn-lg" onclick="window.location.href='/Vehicles/Create'">Park</button>
        &nbsp;
        <button class="btn btn-primary btn-lg" onclick="window.location.href='/Vehicles/Index2'">Collect</button>
    </div>*@



<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8 md-1">
            <div class="card-deck mb-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <button class="btn btn-primary btn-lg" onclick="window.location.href='/Vehicles/Create'"><h1 class="my-0 font-weight-normal">Park</h1></button>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title pricing-card-title">1 credits <small class="text-muted">/ min</small></h4>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Register and Park</li>
                        </ul>
                        <i class="fa fa-car fa-5x"></i>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <button class="btn btn-primary btn-lg" onclick="window.location.href='/Vehicles/Index2'"><h1 class="my-0 font-weight-normal">Collect</h1></button>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4">
                            <li>Search and Collect your Vehicle</li>
                            <li>(Edit your Vehicle details)</li>
                        </ul>
                        <i class="fa fa-eject fa-5x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
window.setTimeout("closeDiv();", 7000);
    function closeDiv()
    {
        let Temp = document.getElementById("threeSeconds")
        /*let Temp = document.getElementsByClassName("disappears");*/
        if (Temp != null)
        Temp.style.display = "none";

    // jQuery version
        $("#threeSeconds").fadeOut("slow", null);
    }
</script>*@

